$bg_main: #d7efee;
$content_width: 75%;
$text_color: #636469;
$button_color: #afaaaa;
$button_color_hover: #71bbb8;
$github_color: #4078c0;
$linkedin_color: #0077b5;
$twitter_color: #1da1f2;

.contacts {
  .inner {
    width: $content_width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .contact {
      width: 45%;
      .contact__text {
        color: $text_color;
      }
    }
    .sns {
      width: 45%;
      .sns__text {
        color: $text_color;
      }
      .sns__list {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin-top: 2rem;
        .sns__list--item {
          width: 10%;
          a {
            color: #333;
          }
          .github:hover {
            color: $github_color;
          }
          .linkedin:hover {
            color: $linkedin_color;
          }
          .twitter:hover {
            color: $twitter_color;
          }
        }
      }
    }
  }
}

.contact__btnBlock {
  display: flex;
  justify-content: space-between;
  .contact__btn {
    border: none;
    background: none;
    padding: 0;
  }
  .contact__btn a {
    margin: 0;
    width: 170px;
    height: auto;
    text-align: center;
    background: #afaaaa;
    padding: 2rem 3rem;
    display: block;
    color: #fff;
    text-decoration: none;
    margin-top: 2rem;
  }
  .contact__btn a:hover {
    background: $button_color_hover;
  }
  .contact__btn .resume:hover {
    background: #d582b2;
  }
}

@media screen and (max-width: 640px) {
  .contacts {
    .inner {
      width: 90%;
      display: block;
      .contact {
        width: 100%;
        .contact__btn {
          width: 100%;
          a {
            width: 100%;
            padding: 2rem 0;
          }
        }
      }
      .sns {
        width: 100%;
      }
    }
  }

  .contact__btnBlock {
    display: block;
  }
}
