.logo {
  animation: logo_popIn 1s ease-in-out 0s 1 normal forwards running;
}

.project__anchor:hover {
  animation: hover_dark 1s ease-in-out 0s 1 normal forwards running;
}

.introtext:after {
  animation: introblock 1s ease-in-out 0s 1 normal forwards running;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.introtext {
  animation: introtext 1s ease-in-out 0s 1 normal backwards running;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.introtext__color:after {
  animation: introblock 1s ease-in-out 0s 1 normal forwards running;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d7efee;
}

.introtext__color {
  animation: introtext 1s ease-in-out 0s 1 normal backwards running;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.up-easeIn {
  animation: up-easeIn 1s ease-in-out 0.2s 1 normal forwards running;
}

@keyframes logo_popIn {
  0% {
    transform: translateY(-15px);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

@keyframes hover_dark {
  0% {
    opacity: 0.1;
    background: #000;
  }
  100% {
    opacity: 0.4;
    background: #000;
  }
}

@keyframes up-easeIn {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes introtext {
  0% {
    color: transparent;
  }

  51% {
    color: transparent;
  }

  100% {
    color: black;
  }
}

@keyframes introblock {
  0% {
    transform: translate3d(-100%, 0, 0) translateY(100%);
  }

  50% {
    transform: translate3d(0, 0, 0);
  }

  52% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(100%, 0, 0) translateY(0);
  }
}
