body {
  font-size: 62.5%; /* -> 10px; */
  font-size: 16px;
  line-height: 28px;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
}

.wrapper {
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

.container {
  margin-top: 30px;
}

.home {
  position: relative;
  overflow: hidden;
  margin-bottom: 150px;
}

.home__titleBlock {
  position: absolute;
  top: 340px;
  background: #fff;
  padding: 0.2rem 1rem;
}

.home__title {
  font-size: 5rem;
  font-weight: bold;
}

.home__subTitle {
  font-size: 1.4rem;
}

.nav {
  overflow: hidden;
}

.navList {
  width: 40%;
  float: right;
  display: flex;
  list-style-type: none;
}

.navList__item {
  flex: 2;
  justify-content: flex-end;
  text-align: right;
}

.navList__item a {
  color: #333;
  text-decoration: none;
}

.about {
  display: flex;
  margin-bottom: 150px;
}

.about__profile {
  flex: 1.8;
  padding: 0 5rem 0 0;
}

.about__profile--name {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
}

.about__profile--position {
  font-size: 1.8rem;
}

.about__img {
  flex: 1.2;
}

.skills {
  margin-top: 4rem;
}

.skills__level {
  font-weight: bold;
  margin-top: 3rem;
}

.skills__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.skills__item {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.skills__icon {
  margin: 0;
}

.skills__icon svg {
  width: 50px;
  height: auto;
}

.skills__title {
  color: #333;
  font-size: 0.9rem;
  margin: 0;
}

.project__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.project__itemWrap {
  padding: 2rem;

}

.project__title {
  font-size: 2rem;
  font-weight: bold;
}

.project__discription {

}

.contact {
  text-align: center;
  margin-bottom: 150px;
}

.contact__text {
  text-align: center;
  margin-bottom: 3rem;
}

.contact__btnWrap {
  width: 100%;
  height: auto;
  text-align: center;
}

.contact__btn {
  border: none;
} 

.contact__btn a {
  color: #fff;
  padding: 1rem 4rem;
  background: #58B09C;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.sns {
  text-align: center;
  margin-bottom: 5rem;
}

.sns__list {
  padding: 0;
}

.sns__list--item {
  display: inline-block;
}

.sns__list--item i {
  font-size: 2rem;
  padding: 0 1rem;
}

.sns__list--item a {
  color: #333;
}

.copyright {
  font-size: 0.9rem;
  letter-spacing: 0.2em;
}

/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
