body {
  font-size: 62.5%; /* -> 10px; */
  font-size: 16px;
  line-height: 28px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

img {
  width: 100%;
  height: auto;
}

p, div, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 2.4rem;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.container {
  margin-top: 30px;
}

.header {
  display: flex;
}

.header__info {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  background: rgb(189, 189, 189);
  color: #fff;
  font-weight: normal;
  padding: 1.4rem 1rem;
}

.home {
  opacity: 0;
  background: #c8c8c8;
  height: 400px;
  margin-bottom: 150px;
  position: relative;
}

.home__title {
  position: absolute;
  bottom: 140px;
  left: -100px;
  font-size: 5rem;
  font-weight: bold;
  background: #fff;
  padding: 1.6rem 2.2rem;
}

.home__subTitle {
  font-size: 1.4rem;
}

.nav {
  flex: 1;
}

.navList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.navList__item {
  text-align: right;
}

.navList__item a {
  color: #333;
  text-decoration: none;
}

.sns__header {
  flex: 1;
  text-align: right;
}

.about {
  display: flex;
  margin-bottom: 150px;
}

.about__profile {
  flex: 1.8;
  padding: 0 8rem 0 0;
}

.about__profile--name {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2.4rem;
}

.about__profile--title {
  font-size: 1.3rem;
  font-weight: bold;
}

.about__img {
  flex: 1;
}

.skills__list {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 150px;
}

.skills__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.skills__item {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.skills__icon {
  margin: 0;
}

.skills__icon svg {
  width: 50px;
  height: auto;
}

.skills__title {
  color: #333;
  font-size: 0.9rem;
  margin: 0;
}

.project {
  margin-bottom: 150px;
}

.project__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.project__itemWrap {
  padding: 2rem;
      text-align: center;
}

.project__itemWrap img {
  margin-bottom: 2rem;
}

.project__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.contact {
  text-align: center;
  margin-bottom: 150px;
}

.contact__text {
  text-align: center;
  margin-bottom: 3rem;
}

.contact__btnWrap {
  width: 100%;
  height: auto;
  text-align: center;
}

.contact__btn {
  border: none;
} 

.contact__btn a {
  color: #fff;
  padding: 1rem 4rem;
  background: #58B09C;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.sns {
  text-align: center;
  margin-bottom: 5rem;
}

.sns__list {
  padding: 0;
}

.sns__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sns__list--item {
  display: inline-block;
}

.sns__list--item i {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.sns__list--item a {
  color: #333;
}

.copyright {
  font-size: 0.9rem;
  letter-spacing: 0.2em;
}

.logo {
  animation: logo_popIn 1s ease-in-out 0s 1 normal forwards running;
}

.home {
  animation: home 1s ease-in-out 1.4s 1 normal forwards running;
}

.home__title {
  animation: title_slideIn 1s ease-in-out 1.4s 1 normal forwards running;
}

@keyframes logo_popIn {
  0% {
      transform: translateY(-15px);
    }
  100% {
      transform: scale(1) translateY(0);
  }
}

@keyframes home {
  0% {
    opacity: 1;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes title_slideIn {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100px, 0);
  }
}