body {
  font-size: 62.5%;
  font-size: 16px;
  line-height: 28px;
  font-family: -apple-system, 'BlinkMacSystemFont',  Sans-Serif;
}

img {
  width: 100%;
  height: auto;
}

p, div, h1, h2, h3, h4, h5, ul, li {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 3rem;
  padding: 1rem;
  margin-bottom: 2.4rem;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 960px;
  height: auto;
  margin: 0 auto;
}

.container {
  margin-top: 30px;
}

.header {
  display: flex;
}

.header__info {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  background: rgb(189, 189, 189);
  color: #fff;
  font-weight: normal;
  padding: 1.4rem 1rem;
}

.nav {
  flex: 1;
}

.navList {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.navList__item {
  text-align: right;
}

.navList__item a {
  color: #000;
  text-decoration: none;
}

.sns__header {
  flex: 1;
  text-align: right;
}

.home__block {
  margin-bottom: 150px;
  width: 960px;
  height: 540px;
}

.home__bg {
  display: flex;
  position: relative;
}

.home__bg--b {
  flex: 1;
}

.home__imgBg {
  width: 418px;
  height: 523px;
  position: absolute;
  background: #fff;
  z-index: 10;
}

.home__firstnameBg {
  background: #fff;
  position: absolute;
  top: 27%;
  left: 5%;
  z-index: 10;
  height: 280px;
  width: 400px;
}

.home__lastnameBg {
  background: #fff;
  position: absolute;
  top: 68%;
  left: 5%;
  z-index: 10;
  height: 220px;
  width: 420px;
}

.home__firstname {
  position: absolute;
  top: 38%;
  left: 5%;
  font-size: 12rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1.5rem;
}

.home__lastname {
  display: flex;
  position: absolute;
  top: 68%;
  left: 7%;
  font-size: 1.8rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 1.2rem;
}

.home__lastname.second{
  top: 78%;
}

.home__position {
  position: absolute;
  top: 57%;
  left: 12%;
  font-size: 2rem;
  color: #000;
}

.about {
  display: flex;
  margin-bottom: 150px;
}

.about__profile {
  flex: 1.8;
  padding: 0 8rem 0 0;
  transform: translate(90px, 40px);
}

.about__profile--name {
  font-size: 4rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 2.4rem;
}

.about__profile--title {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 0;
}

.about__profile--text {
  font-weight: 300;
  line-height: 1.75rem;
}

.about__img {
  flex: 1;
}

.skills__list {
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 150px;
}

.skills__list {
  padding: 0;
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-content: flex-start;
}

.skills__item {
  padding: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.skills__icon {
  margin: 0;
}

.skills__icon svg {
  width: 50px;
  height: auto;
}

.skills__title {
  color: #333;
  font-size: 0.9rem;
  margin: 0;
}

.project {
  margin-bottom: 150px;
}

.project__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  list-style-type: none;
}

.project__itemWrap {
  padding: 2rem;
  text-align: center;
}

.project__itemWrap img {
  margin-bottom: 1rem;
}

.project__title {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.project__text {
  font-weight: 300;
}

.contact {
  text-align: center;
  margin-bottom: 150px;
}

.contact__text {
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 300;
}

.contact__btnWrap {
  width: 100%;
  height: auto;
  text-align: center;
}

.contact__btn {
  border: none;
} 

.contact__btn a {
  color: #fff;
  padding: 1.5rem 0.9rem 1rem 0.9rem;
  background: #17BEBB;
  text-decoration: none;
  border-radius: 50%;
}

.sns {
  text-align: center;
  margin-bottom: 5rem;
}

.sns__list {
  padding: 0;
}

.sns__header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sns__list--item {
  display: inline-block;
}

.sns__list--item i {
  font-size: 1.5rem;
  padding: 0 1rem;
}

.sns__list--item a {
  color: #333;
}

.copyright {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.2em;
}



