$bg_main: #d7efee;
$text_color: #636469;
$button_color: #afaaaa;
$button_color_hover: #71bbb8;
$content_width: 1080px;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, "BlinkMacSystemFont", Sans-Serif;
}

img {
  max-width: 100%;
  height: auto;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li {
  margin: 0;
  padding: 0;
}

p {
  line-height: 3.4rem;
}

h2 {
  font-size: 4.2rem;
  padding: 0;
  margin-bottom: 2.4rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

section {
  margin-bottom: 15rem;
}

.header {
  background: $bg_main;
  &__inner {
    width: $content_width;
    margin: 0 auto;
    padding: 5rem 0;
  }
  &__info {
    float: left;
    .logo {
      a {
        background: rgb(189, 189, 189);
        color: #fff;
        font-weight: normal;
        padding: 1.4rem 1rem;
      }
    }
  }
}

.navList {
  float: right;
  &__item {
    width: 100px;
    display: inline-block;
    a {
      text-decoration: none;
      color: $text_color;
      position: relative;
      padding-bottom: 0.4rem;
      display: inline-block;
    }
    .navList__item a:after {
      content: "";
      position: absolute;
      border-bottom: 1px solid black;
      bottom: 0;
      left: 0;
      right: 100%;
      transition: all 0.4s ease-out;
    }
    .navList__item a:hover:after {
      right: 0;
    }
  }
}

.sns__header {
  flex: 1;
  text-align: right;
}

.home {
  background: $bg_main;
  &__inner {
    width: $content_width;
    margin: 0 auto;
    padding: 10rem 0;
    .title {
      text-align: left;
      font-size: 4rem;
      padding: 0;
      margin-bottom: 3.4rem;
      display: table-caption;
      .title__name {
        font-size: 3.5rem;
      }
      .title__position {
        font-size: 8rem;
        font-weight: 800;
        letter-spacing: 1rem;
        line-height: 8rem;
      }
    }
    .title span {
      position: relative;
      display: inline-block;
    }
    .title span:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(248, 248, 248);
    }
    .title__detail {
      width: 50%;
      color: $text_color;
    }
  }
}

.about {
  background: $bg_main;
  padding: 10rem 0;
  &__inner {
    width: $content_width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .about__profile {
      width: 60%;
      .profile__name {
        font-size: 2.4rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }
      .about__profile--name {
        font-size: 4rem;
        font-weight: bold;
        margin: 0;
        margin-bottom: 2.4rem;
      }
      .about__profile--title {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 1rem 0;
      }
      .about__profile--text {
        color: $text_color;
        margin-bottom: 1rem;
      }
    }
  }
}

.skills {
  &__inner {
    width: $content_width;
    margin: 0 auto;
    .skills__col2 {
      display: flex;
      justify-content: space-between;
      .skills__listBlock {
        width: 45%;
        .skills__title {
          font-size: 1.8rem;
          font-weight: bold;
        }
        .skills__list {
          padding: 2rem 0;
          display: flex;
          list-style-type: none;
          flex-wrap: wrap;
          align-content: flex-start;
          .skills__item {
            padding: 1rem;
            text-align: center;
            margin-bottom: 1rem;
            color: $text_color;
          }
        }
      }
    }
  }
}

.skills__icon {
  margin: 0;
}

.skills__icon svg {
  width: 50px;
  height: auto;
}

.project {
  &__inner {
    width: 1080px;
    margin: 0 auto;
    .project__list {
      display: flex;
      justify-content: space-between;
      padding: 0;
      list-style-type: none;
      margin-top: 4rem;
      .project__item {
        padding: 0;
        width: 29%;
        .project__itemWrap {
          box-shadow: 2px 8px 10px #d7efee;
          .project__anchor {
            display: block;
          }
          .project__detailBox {
            padding: 2rem 1.5rem;
            .project__title {
              font-size: 2.2rem;
              font-weight: bold;
              margin-bottom: 0.6rem;
              a {
                color: #000;
              }
            }
            .project__text {
              margin-bottom: 1rem;
              color: $text_color;
            }
            .project__skill {
              background: #efefef;
              padding: 1rem 2rem;
              display: inline-block;
              margin-right: 1rem;
              margin-bottom: 1rem;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }
}

.contactBlock {
  .contact__inner {
    width: $content_width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}

.contact {
  width: 45%;
  .contact__text {
    margin: 0 auto;
    margin-bottom: 2rem;
    color: $text_color;
  }
  .contact__btn {
    padding: 0;
    border: none;
    .contact__anchor {
      padding: 2rem 8rem;
      display: block;
      color: #fff;
      text-decoration: none;
      background: $button_color;
      &:hover {
        background: $button_color_hover;
      }
    }
  }
}

.sns {
  width: 45%;
  .sns__text {
    color: $text_color;
  }
  .sns__list {
    padding: 2rem 0;
    display: flex;
    .sns__list--item {
      width: 10%;
      a {
        color: #333;
      }
    }
  }
}

.footer__inner {
  width: $content_width;
  margin: 0 auto;
  padding: 4rem 0;
  .copyright {
    color: $text_color;
    font-size: 1.3rem;
    letter-spacing: 0.2em;
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  section {
    margin-bottom: 7rem;
  }
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .header {
    display: block;
    &__inner {
      width: 100%;
      padding: 0;
      .header__info {
        display: block;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 1.5rem;
        .logo {
          width: 30px;
          height: 30px;
          padding: 1rem 0;
        }
      }
    }
  }
  .home {
    &__inner {
      width: 90%;
      .title {
        .title__name {
          font-size: 2.4rem;
        }
        .title__position {
          font-size: 4rem;
          line-height: 4.5rem;
        }
      }
      .title__detail {
        width: 100%;
      }
    }
  }
  .sns__header {
    padding: 1rem 0;
    justify-content: center;
  }
  .nav {
    display: none;
  }
  .about {
    &__inner {
      width: 90%;
      display: block;
      .about__profile {
        flex: none;
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
        .about__profile--name {
          line-height: 3.5rem;
          font-size: 3rem;
        }
      }
      .about__img {
        text-align: center;
      }
    }
  }
  .project {
    &__inner {
      width: 90%;
      h2 {
        margin-bottom: 1rem;
      }
      .project__list {
        display: block;
        .project__item {
          width: 100%;
          margin-bottom: 5rem;
        }
      }
    }
  }
  .skills {
    &__inner {
      width: 90%;
      .skills__col2 {
        display: block;
        .skills__listBlock {
          width: 100%;
          .skills__list {
            justify-content: space-between;
          }
        }
      }
    }
  }
  .contactBlock {
    .contact__inner {
      width: 90%;
      display: block;
    }
  }
  .contact {
    width: 100%;
    .contact__btn {
      width: 100%;
    }
  }
  .sns {
    width: 100%;
    &__list {
      justify-content: space-around;
    }
  }
  .footer {
    &__inner {
      width: 100%;
    }
  }
}
