$bg_main: #d7efee;
$text_color: #636469;
$link_color: #018f69;
$button_color: #afaaaa;
$button_color_hover: #71bbb8;
$content_width: 75%;
$github_color: #4078c0;
$linkedin_color: #0077b5;
$twitter_color: #1da1f2;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, "BlinkMacSystemFont", Sans-Serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  color: $link_color;
  font-weight: 700;
  margin: 0 0.5rem;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li,
dt,
dd {
  margin: 0;
  padding: 0;
}

p {
  line-height: 3rem;
}

h2 {
  font-size: 4.2rem;
  padding: 0;
  margin-bottom: 2.4rem;
  display: none;
}

h3 {
  font-size: 4rem;
}

ul {
  list-style-type: none;
}

section {
  margin-bottom: 12rem;
}

.bold {
  font-weight: bold;
  padding: 0 0.6rem 0 0.6rem;
}

@media screen and (max-width: 640px) {
  p {
    line-height: 2.5rem;
  }

  h2 {
    font-size: 3.2rem;
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 8rem;
  }

  h2 {
    font-size: 4rem;
    margin-bottom: 3rem;
    display: block;
  }

  h3 {
    padding: 2rem 0;
  }

  .wrapper {
    width: 100%;
    overflow: hidden;
  }
}
